---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Providers from "../components/Providers.astro";
import HowItWorks from "../components/HowItWorks.astro";
import DevSDK from "../components/DevSDK.astro";
import Privacy from "../components/Privacy.astro";
import Features from "../components/Features.astro";
import Comparison from "../components/Comparison.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Divider from "../components/Divider.astro";
import HeroDivider from "../components/HeroDivider.astro";
import BentoGrid from "../components/BentoGrid.astro";
import TallDivider from "@/components/TallDivider.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <HeroDivider />
    <Providers />
    <BentoGrid />
    <TallDivider />
    <HowItWorks />
    <TallDivider />
    <DevSDK />
    <Divider />
    <Privacy />
    <Features />
    <Comparison />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
