---

---

<div class="flex justify-center py-4" aria-hidden="true">
  <div
    class="w-16 h-[3px] rounded-full bg-gradient-to-r from-transparent via-[color-mix(in_oklch,var(--color-brand)_40%,var(--ap-border))] to-transparent"
  >
  </div>
</div>
